@import url('../fonts/FjallaOne/FjallaOne.css');
@import url('../fonts/Montserrat/Montserrat.css');
@import url('../../plugins/font-awesome-4.3.0/css/font-awesome.min.css');

*:focus {
	outline: none;
}

html {
	background: url('../img/library.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Fjalla One', sans-serif;
	margin: 0px;
}

.content {
	font-family: 'Montserrat', 'Helvativa Neue', Arial,  sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,0.2);
	padding: 0px;
}

.ekios-base {
	position: absolute;
	padding: 15px 100px 15px 15px;
	margin: 50px;
	background: #f78e56;
	color: #fff;
	font-size: 100px;
	line-height: 110px;
}

.subtitle {
	font-size: 50px;
}

.header {
	margin-top: 50px;
	background: #0072bc;
	padding: 15px;
	min-height: 100px;
	color: #fff;
	font-size: 30px;
}

.content-header {
	background: #f4f4f4;
	padding: 15px;
	min-height: 100px;
}

.text-input {
	padding: 10px 20px 10px 20px;
	background: #fff;
	border-bottom: 2px solid #ebebeb;
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 20px;
	width: 90%;
}

.btn-absolute {
	position: absolute;
	right: 30px;
	top: 300px;
}

.btn-input {
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	color: #fff;
	background: #1a8ad3;
	border: none;
	border-radius: 50%;

	-webkit-transition: 250ms all ease-in-out;
	-moz-transition: 250ms all ease-in-out;
	-ms-transition: 250ms all ease-in-out;
	-o-transition: 250ms all ease-in-out;
	transition: 250ms all ease-in-out;
}

.btn-input:hover {
	background: #2c9be4;
}

.text-input:focus {
	border-bottom: 2px solid #0072bc;
	border-top: none;
	border-left: none;
	border-right: none;
}

.subtitles {
	font-size: 15px;
}